{% extends'common/base.html' %}
{% block title %}
gnoc
{% endblock %}


{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
{% endblock %}


{% block page_content %}

<table class="table table-bordered table-hover definewidth m10 "
    style="width:1100px; table-layout:fixed; text-align: left; vertical-align: middle">
    <caption>学生成绩表</caption>
    <thead>
        <tr bgcolor=red>
            <th style="width:150px; text-align: center; vertical-align: middle">单号</th>
            <th style="width:100px; text-align: center; vertical-align: middle">抽查时间</th>
            <th style="text-align: center; vertical-align: middle">概述</th>
            <th style="width:80px; text-align: center; vertical-align: middle">单据类型</th>
            <th style="width:100px; text-align: center; vertical-align: middle">到组时间</th>
            <th style="width:100px; text-align: center; vertical-align: middle">接单工程师</th>
            <th style="width:130px; text-align: center; vertical-align: middle">操作</th>


        </tr>
    </thead>
    {% for row in data %}
    <tr bgcolor=yellow onclick="fun('{{ row.id }}');">
        <!-- <span style="" onclick="fun({{ row.id }})" id="f{{ row.id }}"> -->
        <td style="text-align: center; vertical-align: middle">{{ row.number }}</td>
        <td style="text-align: center; vertical-align: middle">{{ row.death_date }}</td>
        <td style="overflow:hidden">{{ row.summary }}</td>
        <td style="text-align: center; vertical-align: middle">{{ row.ticket_type }}</td>
        <td style="text-align: center; vertical-align: middle">{{ row.assinge_date }}</td>
        <td style="text-align: center; vertical-align: middle">{{ row.assigne_id }}</td>
        <td style="text-align: center; vertical-align: middle">
            <a href="" target="_blank">修改</a>|
            <a href="{{url_for('ticket.build_process', id=row.id)}}" target="_blank">添加</a>|
            <a href="{{url_for('ticket.delete_ticket', id=row.id)}}">删除</a>
        </td>
    </tr>
    <tbody style="display: none" id="{{ row.id }}">
        <th style="text-align: center; vertical-align: middle">处理工程师</th>
        <th style="text-align: center; vertical-align: middle">处理时间</th>
        <th style="text-align: center; vertical-align: middle">是否完全更新</th>
        <th style="text-align: center; vertical-align: middle">是否符合规范</th>
        {% for row2 in process %}
        {% if row2.ticket_id == row.id %}
        <tr>
            <td style="text-align: center; vertical-align: middle">{{ row2.engineer_id }}</td>
            <td style="text-align: center; vertical-align: middle">{{ row2.time }}</td>
            <td style="text-align: center; vertical-align: middle">{{ row2.process_one }}</td>
            <td style="text-align: center; vertical-align: middle">{{ row2.process_two }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    {% endfor %}

</table>
<a id='fun_two' href="javascript:fun_two()" onclick="fun_two()">下载</a>

<!-- 分页 -->
{% from 'common/page_macro.html' import page_macro %}
{{ page_macro('main.index', pagination)}}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

    function fun_two() {
        var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementsByTagName("table")[0].outerHTML + "</body></html>";
        var blob = new Blob([html], { type: "application/vnd.ms-excel" });
        var a = document.getElementsByTagName("a")[0];
        $("#fun_two").click(function () {
            a.href = URL.createObjectURL(blob);
            a.download = "学生成绩表.xls";
        });
    }

</script>
<script>
    function fun(TagName) {
        var obj = document.getElementById(TagName);
        if (obj.style.display == 'none') {
            obj.style.display = '';
        } else {
            obj.style.display = 'none';
        }
    }
</script>
{% endblock%}