{% extends 'bootstrap/base.html' %}
{% block navbar %}
<div style="height: 50px; color: blue; font-size: 40px; margin-left: 80px">gnoc质量检查工具</div>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="">工程师管理</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main.index') }}">首页<span
                            class="sr-only">(current)</span></a></li>
                    <li><a href="{{url_for('engineer.engineer_manage')}}">工程师管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">单据管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('ticket.build_ticket')}}">新建单据</a></li>
                            <li><a href="{{url_for('main.index')}}">所有单据</a></li>
                            <li><a href="{{url_for('main.show_SR')}}">SR单据</a></li>
                            <li><a href="{{url_for('main.show_INC')}}">INC单据</a></li>
                            <li><a href="{{url_for('main.show_MONITOR')}}">监控单</a></li>
                            <li><a href="{{url_for('main.show_week')}}">周检查</a></li>
                            <li><a href="{{url_for('main.show_month')}}">月检查</a></li>
                        </ul>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" method="post" action="{{ url_for('ticket.search') }}">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索"  name="search">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>

                </ul>
            </div>
        </div>
    </nav>
{%- endblock navbar %}
{% block content %}
    <div class="container">

        {% for info in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ info }}
            </div>
        {% endfor %}

        {% block page_content %}

        {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('zh-CN') }}
{% endblock %}
